.contain{
    margin-top: 3.2rem;
    min-height: 90vh;
    height: 100%;
}
.side{
    border-right: solid 0.5rem var(--principal-color);
}
.entete{
    position: fixed;
    width: 23.5%;
    background-color: white;
    height: fit-content;
    z-index: 2;
}
.tri{
    width:5.3rem;
    font-size: small;
}
.date{
    font-weight: 500;
}
.sort {
    fill: var(--principal-color);
    transition: fill 0.3s;
}
.sort:hover {
    fill: white;
}
.task{
    margin-top: 7rem;
}
.recherche{
    width: 9rem;
}
.loupe{
    position: relative;
    left: -1.3rem;
}
.plus{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: white;
    box-shadow: 3px 3px 3px silver;
    position: fixed;
    bottom: 35%;
    left: 21.5%; 
    z-index: 5;
}
.item{
    box-shadow: 2px 2px 2px 2px silver;
    border-radius: 0.2rem;
    cursor:pointer;
    border-left: solid 0.5rem black;
}
.item:hover{
    transform: scale(1.03);
}
.right{
    position: fixed;
    right:0rem
}
.export{
    width: 4rem;
    height: 2rem;
    font-size:smaller;
}