.contain{
    margin-top: 3.2rem;
    min-height: 90vh;
    height: 100%;
}
.side{
    border-right: solid 0.5rem var(--principal-color);
}
.tri{
    width:5rem;
    font-size: small;
}
.sort {
    fill: var(--principal-color);
    transition: fill 0.3s;
}

.sort:hover {
    fill: white;
}
.plus{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: white;
    box-shadow: 3px 3px 3px silver;
    position: fixed;
    bottom: 35%;
    left: 21.5%; 
    z-index: 5;
}
.item{
    box-shadow: 2px 2px 2px 2px silver;
    border-radius: 0.2rem;
    cursor:pointer;
    border-left: solid 0.5rem black;
}
.item:hover{
    transform: scale(1.03);
}